/*
GLOBAL STYLES
*/
html,
body,
#root,
main {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgb(75, 75, 75);
}

header {
  background-color: darkcyan;
  text-align: center;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  color: #ccc;
}

/*
REGISTER PAGE STYLES
*/
#response{
  display: inline;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.form-signin {
  min-width: 330px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
  HOME PAGE STYLES
*/
.card{
  height: 300px;
}

.card-image{
  height: 100px;
  object-fit: contain;
}

.quantity-buttons{
  display: flex;
  padding: .5rem;
  justify-content: space-between;
  align-items: center;
}

.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 10rem;
}

ul{
  width: 30%;
  padding: 2em;
}

/*
CHECKOUT PAGE STYLES
*/
.list-group{
  min-width: 250px;
}