html,
body,
#root,
main {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#response{
  display: inline;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.form-signin {
  min-width: 330px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

header {
  background-color: darkcyan;
  text-align: center;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  color: #ccc;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}